
.main{
    background-image: linear-gradient(to bottom , white 10% ,  #ffe380 90% );
    width: 40%;
    border-radius: 10px;
    border: 0.5px solid gray;
    height: 400px;
    margin: auto;
    padding-right: 15px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    
}

.head-bar{
    background-color: white;
    width: 60%;
    margin: auto;
}
.head-bar p{
    color: orangered;
}
.input-value{
    /* border: 2px solid mediumorchid; */
    width: 90%;
    padding: 10px;
    height: 200px;
    white-space:pre;
    margin-right: 5px;
}
#btn{
margin-left: 100px;
margin-top: 50px;
width: 100px;
height: 50px;
border-radius: 20px;
color: white;
background-color: #fa00fa;
}
#btn:hover{
    background-color: orangered;
}
.categories{
    text-align: center;
    width: 100%;
    height: max-content;
    /* border: 5px solid black; */
    margin: 0px;
}
hr{
    border-color: #fa00fa;
}
#mid{
    border-color: orangered;
}
.results{
    /* border: 2px solid black; */
    background-color: #fa00fa;
    border-radius: 200px;
    width: 300px;
    margin: auto;
    height: 120px;
    border-style: double;
}
p{
    /* color: orangered; */
}
img{
    width: 300px; 
    margin: auto;
    height: 120px;
    border-radius: 200px;
}